body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial;
    font-size: 14px;
}
.header {
    height: 80px;
    overflow: hidden;
}
.banner1 {
    background: black;
    display: flex;
    height: 40px;
    flex-direction: column;
}
.banner2 {
    background: yellow;
    height: 40px;
    overflow: hidden;
}
.rutgonchild {
    height: 40px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-self: center;
}
.box1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex: 1;
}
.box2 {
    flex: 0.4;
    color: white;
}
.box3 {
    display: flex;
    flex: 1;
    flex-direction: row;
}
.icon_home {
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
    background-position: 3 1;
    width: 156px;
    height: 30px;
    align-items: center;
}

.Km {
    color: yellow;
    font-size: 12px;
}
.Hcm {
    color: gold;
    font-size: 12px;
    text-align: center;
}
.wrap_seach {
    height: 100%;
    position: relative;
    flex-direction: row;
}
.rutflex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    padding: 2px 5px;
    height: 70%;
    border-radius: 5px;
    border-width: 0px;
}
.search:focus {
    outline: none;
}
.icon_timkiem {
    position: absolute;
    right: 10px;
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
    background-position: -160px 0;
    width: 20px;
    height: 20px;
}
.gioHang {
    display: flex;
    width: 47%;
    height: 70%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    border: white 1px solid;
    border-radius: 5px;
    margin-right: 20px;
}
.icon_cart {
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
    background-position: -144px -91px;
    width: 28px;
    height: 22px;
}
.history {
    font-size: 12px;
    text-align: center;
}
.gioHang:hover {
    background-color: grey;
}
.box3 > div {
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 0 10px 0 10px;
    border-right: white 1px solid;
}
.box3 > div:hover {
    background-color: rgba(255, 255, 255, 255);
    color: black;
}
.icon_dt {
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
    background-position: 0 -91px;
    width: 13px;
    height: 20px;
}
.icon_laptop {
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
    background-position: -245px 0px;
    width: 39px;
    height: 21px;
}
.icon_tablet {
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
    background-position: -43px -91px;
    width: 16px;
    height: 20px;
}
.icon_phukien {
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
    background-position: -60px -91px;
    width: 22px;
    height: 20px;
}
.icon_tt {
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
    background-position: -102px -91px;
    width: 14px;
    height: 20px;
}
.item {
    text-align: center;
    padding: 0 10px 0 4px;
}
.icon_smartwatch {
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
    background-position: -83px -91px;
    width: 14px;
    height: 20px;
}
.icon_pc {
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
    background-position: -118px -91px;
    width: 23px;
    height: 20px;
}
.item > span {
    padding-left: 10px;
}
.item:hover {
    background-color: rgba(255, 255, 255, 255);
}
