body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial;
    font-size: 14px;
    background: #f0f0f0;
}
.header {
    height: 80px;
    overflow: hidden;
}
.banner1 {
    background: black;
    height: 40px;
    flex-direction: column;
}
.banner2 {
    background: #fed700;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
}
.flex {
    display: flex;
}
.rutgonchild {
    height: 40px;
    width: 1200px;
    display: flex;
    align-self: center;
}
.box1 {
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}
.box2 {
    flex: 0.4;
    color: white;
}
.box3 {
    flex: 1;
    white-space: nowrap;
}
.icon_home {
    background-position: 3 1;
    width: 156px;
    height: 30px;
    cursor: pointer;
}
.contro {
    cursor: pointer;
}
.Km {
    color: #ffffff;
    font-size: 12px;
}
.Hcm {
    color: #ffe500;
    font-size: 12px;
    text-align: center;
}
.wrap_seach {
    height: 100%;
    position: relative;
}
.rutflex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    padding: 2px 5px;
    height: 70%;
    border-radius: 5px;
    border-width: 0px;
}
.search:focus {
    outline: none;
}
.icon_timkiem {
    position: absolute;
    right: 10px;
    background-position: -160px 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.gioHang {
    width: 47%;
    height: 70%;
    align-items: center;
    justify-content: space-evenly;
    border: white 1px solid;
    border-radius: 5px;
    margin-right: 20px;
}
.icon_cart {
    background-position: -144px -91px;
    width: 28px;
    height: 22px;
}
.history {
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}
.gioHang:hover {
    background-color: grey;
    cursor: pointer;
}
.box3 > div {
    height: 100%;
    display: flex;
    font-size: 12px;
    color: white;
    padding: 0 12px 0 16px;
    border-right: white 1px solid;
    text-align: center;
    align-items: center;
}
.maint {
    width: 10px;
    height: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.dot {
    width: 10px;
    height: 10px;
    background: #ffe66b;
    border-radius: 5px;
    position: absolute;
}
.wave {
    width: 10px;
    height: 10px;
    border-radius: 6px;
    position: absolute;
    border: 2px #ffe66b solid;
    animation: 1.2s song linear infinite;
}
@keyframes song {
    90% {
        height: 20px;
        width: 20px;
        border-radius: 13px;
        border: 3px rgba(255, 255, 0, 0) solid;
    }
    100% {
        border: 3px rgba(255, 255, 0, 0) solid;
    }
}
.box3 > div:hover,
.item:hover {
    background-color: rgba(255, 255, 255, 255);
    color: black;
    cursor: pointer;
}
.icon_dt {
    background-position: 0 -91px;
    width: 13px;
    height: 20px;
}
.icon_laptop {
    background-position: -245px 0px;
    width: 39px;
    height: 21px;
}
.icon_tablet {
    background-position: -43px -91px;
    width: 16px;
    height: 20px;
}
.icon_phukien {
    background-position: -60px -91px;
    width: 22px;
    height: 20px;
}
.icon_tt {
    background-position: -102px -91px;
    width: 14px;
    height: 20px;
}
.item {
    text-align: center;
    padding: 0 12px 0 4px;
}
.icon_smartwatch {
    background-position: -83px -91px;
    width: 14px;
    height: 20px;
}
.icon_pc {
    background-position: -118px -91px;
    width: 23px;
    height: 20px;
}
.item > span {
    padding-left: 10.5px;
}
i[class^="icon_"] {
    background-image: url(/images/bannerTGDD.png);
}
.qc {
    height: 370px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.left {
    width: 800px;
    height: 350px;
    display: flex;
    cursor: pointer;
}
.right {
    padding-left: 10px;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
}
.bannerqc1 span {
    color: #9c9999;
    font-size: 11px;
}
.price {
    height: 50px;
    width: 800px;
    display: flex;
    align-self: flex-end;
    text-align: center;
    color: #7b7b7b;
    font-family: Helvetica, Arial;
    justify-content: space-evenly;
}
.price p {
    border-right: #e5e5e5 0.2px solid;
    height: 60%;
    padding-right: 30px;
}
.price p:first-child {
    margin-left: 30px;
}
.price p:last-child {
    border-right: none;
}
.bg {
    background: #fff;
}
.right figure {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #efefef;
    height: 50px;
    margin: 0px 0px 6px 0px;
}
.right img {
    width: 390px;
}
.right h2 {
    float: left;
    justify-content: flex-start;
    padding: 18px 30px 10px 20px;
    background: #fdd504;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    text-align: center;
    position: relative;
    margin: 0px;
}
.right h2::after {
    content: "";
    width: 0;
    height: 0;
    border-right: 20px solid #fff;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.rutflex2 {
    display: flex;
    justify-content: center;
}
.bannerqc1 {
    height: 90px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.mr {
    margin-bottom: 6px;
}
.bannerqc1 img {
    width: 100px;
    height: 57px;
    margin: 0 10px 0 10px;
}
a {
    text-decoration: none;
    color: black;
    font: 14px/18px Helvetica, Arial;
}
.right p:hover {
    color: #288ad6;
}
.bannerqc2 {
    height: 95px;
}
.bannerqc3 {
    height: 95px;
}
.sanpham {
    margin-top: 10px;
}
.bannersp {
    height: 50px;
    width: 1200px;
    border-bottom: #c1c1c1 0.5px solid;
    font-size: 12px;
    padding-left: 10px;
    box-sizing: border-box;
}
.sp {
    height: 450px;
}
.spchung {
    width: 240px;
    height: 450px;
    background: #ffffff;
}
.dthoai {
    display: flex;
    justify-content: center;
    width: 1200px;
}
.sp img {
    width: 200px;
    height: 200px;
    margin: 30px 0px 0px 20px;
    transition: 0.6s;
}
b {
    color: #bf081f;
    margin-left: 15px;
}
.sp img:hover {
    margin-top: 10px;
    transition: 0.6s;
    margin-bottom: 20px;
}
.sp p {
    margin-left: 15px;
}
.TG::after {
    display: block;
    content: "Trả góp 0%";
    width: 70px;
    height: 23px;
    background: #fdd504;
    text-align: center;
    padding-top: 4px;
    box-sizing: border-box;
    font-size: 11.5px;
}
.TG {
    padding: 10px;
}
.vn {
    margin: 7px 0 0 10px;
    width: 150px;
    height: 30px;
    background: linear-gradient(#c86dd7, #3023ae);
    border-radius: 20px;
}
.dm {
    background: linear-gradient(#1e6dd8, #044cae);
}
.text {
    color: #fff;
    font-size: 10.5px;
    vertical-align: super;
}
.listlaptop {
    margin-top: 10px;
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    border-bottom: #c1c1c1 0.5px solid;
}
.listlaptop a {
    color: #288ad6;
}
.listlaptop a:hover {
    text-decoration: underline;
}
.lap {
    margin: 70px 10px 10px 30px;
    width: 180px;
    height: 120px;
}
.laptopsp {
    width: 1200px;
    height: 450px;
}
.LaptopLon {
    width: 480px;
}
.dungluong {
    margin: 0 10px;
}
.dungluongChild {
    border-radius: 5px;
    color: #777;
    font-size: 11px;
    padding: 0 5px;
    border: 1px solid #eee;
}
.qua b {
    font-weight: bold;
    color: black;
    margin-left: 1px;
}
.laptopsp img {
    width: 200px;
    height: 150px;
    margin: 50px 30px 10px 20px;
    transition: 0.6s;
}
.listLap2 {
    padding-top: 40px;
    box-sizing: border-box;
}
.laptopsp p {
    margin: 0 0 10px 10px;
}
.bd {
    border-right: #eeeeee 1px solid;
}
.laptopsp a img:hover {
    margin-top: 20px;
    transition: 0.6s;
    margin-bottom: 40px;
}
.sao {
    padding: 0;
    margin: 15px 10px 0;
    display: flex;
}
.saosang {
    background-image: url(/images/bannerTGDD.png);
    background-position: -295px -30px;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
.saonua {
    background-image: url(/images/bannerTGDD.png);
    background-position: -423px -30px;
    width: 12px;
    height: 12px;
}
.saotoi {
    background-image: url(/images/bannerTGDD.png);
    background-position: -310px -30px;
    width: 12px;
    height: 12px;
}
.sao span {
    color: #777777;
    padding: 0 0 0 20px;
    font-size: 12px;
    line-height: normal;
}
.tablet a {
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
}
.listtablet img {
    width: 180px;
    height: 180px;
}
.tabletsp img {
    margin: 40px 30px 10px 20px;
    transition: 0.6s;
}
.tabletsp img:hover {
    margin-top: 15px;
    transition: 0.6s;
    margin-bottom: 35px;
}
.DM {
    display: flex;
}
