body{
    background: pink;
    margin: 0;
    padding: 0;

}
#banner{
    height: 70px;
    background:yellowgreen ;
    border: black 2px solid;
    display: flex;
    text-decoration: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}
#smallbanner{
    width:20% ;
    background: brown;
    height: 5vh;
    display: flex;
    justify-content: space-around;
   
    border: black 1px solid; 
}
#smallbanner2{
    width:20% ;
    background: brown;
    height: 5vh;
    display: flex;
    align-items: end;
    justify-content: end;
    border: black 1px solid; 
}
#lagrebanner{
    width:40% ;
    background: brown;
    height: 5vh;
    border: black 1px solid;
}
#bannertitle{
  
    font-size: 15px;
}
#main{
    
    display: flex;
    margin-top: 10px;
}

#left{
   display: flex;
    flex-direction: row;
  
    background: red;
   margin: 5px;
    width: 75%;
   height: 400px;
   border: black 2px solid;

}
#right{
    display: flex;
    flex-direction: column;
   width: 50vh;
}
#righttop{
background: lemonchiffon;
margin: 5px;

height: 190px;
border: black 2px solid;
display: flex;
flex-direction: column ;
flex-direction: row;
   
}
#rightbuttom{
    background: cornflowerblue;
    border: black 2px solid;
    
    height: 195px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}
#maintop{
    background: lightseagreen;
    width: 60vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    border: black 2px solid;
    margin: 30px;
}

#chia1{
    background: ivory;
    width: 12vh;
    height: 6vh;
    display: flex;
    border: black 1px solid;
    display: flex;
    flex-direction: row-reverse;
    
}
#chia{
    background: ivory;
    width: 12vh;
    height: 6vh;
    display: flex;
    border: black 1px solid
}
#maintop1{
    background:limegreen;
    width: 60vh;
    height: 30vh;
    display: flex;
    flex-direction: row;
    border: black 2px solid;
    margin: 30px;
    float:left;
    
}
#mainttop2{
    background:chocolate;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    border: black 2px solid;
    margin: 20px;
    align-items: center;
    justify-content:space-evenly;
}


#footer{
    display: flex;
    background: crimson;
    width: 25%;
    height: 7vh;
    flex-direction: row;
    border: black 1px solid;

}
#footer2{
    display: flex;
    background: crimson;
    width: 50vh;
    height: 7vh;
    flex-direction: row;
    border: black 1px solid;

}
#footer3{
    display: flex;
    background: crimson;
    width: 50vh;
    height: 7vh;
    flex-direction: row;
    border: black 1px solid;

}
#mainttop3{
    background:crimson;
    width:100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    border: black 2px solid;
    margin: 20px;
    align-items: center;
    justify-content:space-evenly;
  
}
#row2{
    display: flex;
    background: chocolate;
    width: 95vh;

    height: 7vh;
    flex-direction: row;
    border: black 1px solid;

}
#row1{
    display: flex;
    background: chocolate;
    width: 95vh;

    height: 7vh;
    display: flex;
    flex-direction: row;
    border: black 1px solid;
   
}