body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial;
    font-size: 14px;
    background: #f0f0f0;
}
.header {
    height: 80px;
    overflow: hidden;
}
.banner1 {
    background: black;
    height: 40px;
    flex-direction: column;
}
.banner2 {
    background: #fed700;
    height: 40px;
    overflow: hidden;
}
.flex {
    display: flex;
}
.rutgonchild {
    height: 40px;
    width: 1200px;
    display: flex;
    align-self: center;
}
.box1 {
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}
.box2 {
    flex: 0.4;
    color: white;
}
.box3 {
    flex: 1;
}
.icon_home {
    background-position: 3 1;
    width: 156px;
    height: 30px;
}
.Km {
    color: #ffffff;
    font-size: 12px;
}
.Hcm {
    color: #ffe500;
    font-size: 12px;
    text-align: center;
}
.wrap_seach {
    height: 100%;
    position: relative;
}
.rutflex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    padding: 2px 5px;
    height: 70%;
    border-radius: 5px;
    border-width: 0px;
}
.search:focus {
    outline: none;
}
.icon_timkiem {
    position: absolute;
    right: 10px;
    background-position: -160px 0;
    width: 20px;
    height: 20px;
}
.gioHang {
    width: 47%;
    height: 70%;
    align-items: center;
    justify-content: space-evenly;
    border: white 1px solid;
    border-radius: 5px;
    margin-right: 20px;
}
.icon_cart {
    background-position: -144px -91px;
    width: 28px;
    height: 22px;
}
.history {
    text-align: center;
}
.gioHang:hover {
    background-color: grey;
}
.box3 > div {
    height: 100%;
    display: flex;
    font-size: 12px;
    color: white;
    padding: 0 10px 0 10px;
    border-right: white 1px solid;
    text-align: center;
    align-items: center;
}
.box3 > div:hover,
.item:hover {
    background-color: rgba(255, 255, 255, 255);
    color: black;
}
.icon_dt {
    background-position: 0 -91px;
    width: 13px;
    height: 20px;
}
.icon_laptop {
    background-position: -245px 0px;
    width: 39px;
    height: 21px;
}
.icon_tablet {
    background-position: -43px -91px;
    width: 16px;
    height: 20px;
}
.icon_phukien {
    background-position: -60px -91px;
    width: 22px;
    height: 20px;
}
.icon_tt {
    background-position: -102px -91px;
    width: 14px;
    height: 20px;
}
.item {
    text-align: center;
    padding: 0 10px 0 4px;
}
.icon_smartwatch {
    background-position: -83px -91px;
    width: 14px;
    height: 20px;
}
.icon_pc {
    background-position: -118px -91px;
    width: 23px;
    height: 20px;
}
.item > span {
    padding-left: 10px;
}
i[class^="icon_"] {
    background-image: url(/images/bannerTGDD.png);
}

.qc {
    height: 400px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.left {
    width: 800px;
    height: 400px;
    display: flex;
    background-image: url(/images/bann3.png);
    background-repeat: no-repeat;
    background-size: 100% 90%;
}
.right {
    margin-left: 10px;
    width: 400px;
    height: 400px;
}
.price {
    height: 50px;
    width: 800px;
    display: flex;
    align-self: flex-end;
    text-align: center;
    color: #7b7b7b;
    font-family: Helvetica, Arial;
    background: #ffffff;
    justify-content: space-evenly;
}
.price p {
    border-right: #e5e5e5 0.2px solid;
    height: 60%;
    padding-right: 30px;
}
.price p:first-child {
    margin-left: 30px;
}
.price p:last-child {
    border-right: none;
}
.right figure {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #efefef;
    height: 60px;
    background: #fff;
    margin: 0px 0px 9.5px 0px;
}
.right h2 {
    float: left;
    justify-content: flex-start;
    padding: 20px 30px 10px 20px;
    background: #fdd504;
    height: 60px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    text-align: center;
    position: relative;
    margin: 0px;
}
.right h2::after {
    content: "";
    width: 0;
    height: 0;
    border-right: 20px solid #fff;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.bannerqc1 {
    width: 400px;
    height: 90px;
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
}
.mr {
    margin-bottom: 10px;
}
.bannerqc1 img {
    width: 100px;
    height: 57px;
    margin: 0 10px 0 10px;
}
a {
    text-decoration: none;
    color: black;
    font: 14px/18px Helvetica, Arial;
}
.right p:hover {
    color: #288ad6;
}
.bannerqc2 {
    /* margin-top: 10px; */
    width: 400px;
    height: 110px;
    overflow: hidden;
    background: #fff;
}
.a52 {
    width: 100%;
    height: 110px;
}
.bannerqc3 {
    /* margin-top: 10px; */
    width: 400px;
    height: 110px;
    overflow: hidden;
    background: #fff;
}
.sanpham {
    margin-top: 25px;

    display: flex;
    justify-content: center;
}
.bannersp {
    height: 50px;
    width: 1200px;
    border-bottom: #c1c1c1 0.5px solid;
    font-size: 12px;
    padding-left: 10px;
    background: #ffffff;
}
.sp {
    height: 450px;
    display: flex;
    justify-content: center;
}
.spchung {
    width: 240px;
    height: 450px;
    background: #ffffff;
    margin-right: 3px;
}
.sp img {
    width: 200px;
    height: 200px;
    margin: 30px 0px 0px 20px;
}
.sp a {
    height: 400px;
}
b {
    color: #bf081f;
    margin-left: 15px;
}
.sp img:hover {
    margin-top: 10px;
    transition: 0.6s;
    margin-bottom: 20px;
    transform-origin: 0.5s;
}
.sp p {
    margin-left: 15px;
}
.TG::after {
    display: block;
    content: "Trả góp 0%";
    width: 70px;
    height: 23px;
    background: #fdd504;
    text-align: center;
    padding-top: 4px;
    box-sizing: border-box;
    font-size: 11.5px;
}
.TG {
    padding: 10px;
}
.vn {
    margin: 7px 0 0 10px;
    width: 150px;
    height: 30px;
    background: linear-gradient(#c86dd7, #3023ae);
    border-radius: 20px;
}
.text {
    color: #fff;
    font-size: 10.5px;
    vertical-align: super;
}
.sanpham2 {
    display: flex;
    justify-content: center;
}
.listlaptop {
    margin-top: 10px;
    background: #ffffff;
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    border-bottom: #c1c1c1 0.5px solid;
}
.listlaptop a {
    color: #288ad6;
}
.listlaptop a:hover {
    text-decoration: underline;
}
.laptop {
    height: 450px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}
.lap {
    width: 150px;
    height: 100px;
    margin: 50px 10px 10px 10px;
}
.br {
    width: 65px;
    height: ;
    border-radius: 15px;
    background: #ffffff;
}
